@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

/* --- RESET GERAL --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(19, 31, 36);
    font-family: "Nunito Sans", sans-serif;
}

/* --- CONTAINER CENTRAL --- */
.container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;   /* Espaço entre os itens */
    text-align: center;
    padding: 3rem 2rem 6rem;
}

/* --- TÍTULOS --- */
h1 {
    font-size: 2rem;        
    font-weight: 900;
    color: white;
}

.tituloPrincipal{
    font-size: 2rem;        
    font-weight: 900;
    color: white;
    margin-top: 15rem; 
}

.balao {
    font-size: 1.8rem;
    color: white;
    background: #ffffff19;    
    padding: 1.8rem 2.6rem;
    border-radius: 1rem;
    position: relative;
    text-align: center;
}
.balao2 {
    font-size: 1.4rem;
    color: white;
    background: #ffffff19;    
    padding: 1.8rem 2.6rem;
    border-radius: 1rem;
    position: relative;
    text-align: center;
}

/* SETINHA DO BALÃO */
.balao::after, .balao2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff19;
}



.doodle-area {
    width: 50%;
    display: flex;
    justify-content: flex-start; /* deixa a imagem na ESQUERDA */
    padding-left: 0.5rem; /* controla o quão colado fica */
}

.doodle-area2 {
    width: 50%;
    display: flex;
    justify-content: flex-start; /* deixa a imagem na ESQUERDA */
    padding-left: 0.5rem; /* controla o quão colado fica */
}


.doodle {
    width: 200px;
}
.doodle2{
    width: 100px;
}

.doodle img {
    width: 100%;
    height: auto;
    display: block;
}
.doodle2 img {
    width: 100%;
    height: auto;
    display: block;
}



/* --- BOTÃO --- */
.comecar{
    position: fixed;
    bottom: 10px;    
    left: 50%;
    transform: translateX(-50%);        
    max-width: 500px;  
    border: none;
    border-radius: 0.5rem;
    background-color: chartreuse ;
    font-size: 1.4rem;
    padding: 0.6rem 6rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Página 2*/

.pergunta{
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;   /* Espaço entre os itens */
    text-align: center;
    padding: 1rem;
}
.titulo1 {
    font-size: 2rem;        
    font-weight: 900;
    color: white;
    text-align: left;
}
.texto1{
    font-size: 1.4rem;
    color: white;    
    text-align: left;
    font-weight: 300;
}
.pergunta1{
    font-size: 1.4rem;
    color: white;    
    font-weight: 700;
    text-align: left;
}

.opcoes {
  list-style: none;
  padding: 1rem 0.1rem;
  color: white; 
  /* ESSENCIAL */
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 1rem;
  margin-top: 1rem; /* opcional */
}

.opcoes li {
  width: 95%;
  max-width: 320px;
  padding: 1.2rem;
  font-size: 1.4rem;
  color: white;
  background-color: rgba(255,255,255,0.1);
  border: 3px solid transparent;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

/* Ao passar o mouse (para desktop) */
.opcoes li:hover {
  background-color: rgba(255,255,255,0.2);
}

/* Quando for selecionado */
.opcoes li.selecionado {
  border: 0.5rem solid #1e90ff; 
  background-color: rgba(30,144,255,0.12);
}

.verifica {
    width: 90%;
    bottom: 10px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    padding: 0.4rem 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: gray; /* botão desativado */
    color: white;
    opacity: 0.5;
    pointer-events: none; /* impede clique */
    transition: 0.2s;
    z-index: 15;
}

/* Botão ativado */
.verifica.ativo {
    background-color: chartreuse;
    color: black;
    opacity: 1;
    pointer-events: auto !important;
    z-index: 15;
}


/* ------------ TOAST (POP-UP) --------------- */
.toast {
    position: fixed;
    align-items: center;
    bottom: 4.3rem;
    right: 1rem;
    left: 1rem;
    padding: 2rem 2rem;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: #333;
    color: white;
    opacity: 0;                      /* começa invisível */
    transform: translateY(20px);      /* desliza de baixo */
    transition: 0.3s;
   
}

/* Quando aparecer */
.toast.show {
    opacity: 1;
    transform: translateY(0);
     z-index: 26;
}

.continuar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: chartreuse;
    font-size: 1.4rem !important;
    font-weight: 700;
    color: black;
    z-index: 20;
}

/* Página final */

.personagens-linha {
    display: flex;
    align-items: center;       
    gap: 0rem;                /* espaço entre eles */
    
}

/* Tamanhos proporcionais */
.img-doodle {
    width: 190px !important;
    height: auto;
    padding-left: 4rem !important;
}

.img-junior {
    width: 150px !important;
    height: auto;
    padding-left: 0rem;
}

.img-duo {
    width: 160px !important;
    height: auto;
    padding-right: 3rem !important;
}

