@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

/* --- RESET GERAL --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(19, 31, 36);
    font-family: "Nunito Sans", sans-serif;
}

/* --- CONTAINER CENTRAL --- */
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.9rem;   /* Espaço entre os itens */
    text-align: center;
    padding: 2rem;
}

/* --- TÍTULOS --- */
h1 {
    font-size: 8rem;        
    font-weight: 900;
    color: white;
}

.balao {
    font-size: 70px;
    color: white;
    background: #ffffff19;    
    padding: 1.5rem 5rem;
    border-radius: 1.7rem;
    position: relative;
    text-align: center;
}

/* SETINHA DO BALÃO */
.balao::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff19;
}



.doodle-area {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* deixa a imagem na ESQUERDA */
    padding-left: 0.4rem; /* opcional, para afastar da borda */
}


.doodle {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doodle img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

a {
    text-decoration: none;
}


/* --- BOTÃO --- */
button {
    position: fixed;
    bottom: 20px;    
    left: 50%;
    transform: translateX(-50%);  
    
    width: 90%;       
    max-width: 600px;  
    padding: 1.5rem 30rem;

    border: none;
    border-radius: 12px;
    background-color: chartreuse;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Página 2*/

.pergunta{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;   /* Espaço entre os itens */
    text-align: center;
    padding: 2rem;
}
.titulo1 {
    font-size: 5rem;        
    font-weight: 900;
    color: white;
    text-align: left;
}
.texto1{
    font-size: 4.6rem;
    color: white;    
    text-align: left;
    font-weight: 300;
}
.pergunta1{
   font-size: 4.6rem;
    color: white;    
    font-weight: 700;
    text-align: left;
}

.opcoes {
  list-style: none;
  padding: 0;
  color: white; 
  /* ESSENCIAL */
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 2rem;
  margin-top: 3rem; /* opcional */
}

.opcoes li {
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  font-size: 3rem;
  color: white;
  background-color: rgba(255,255,255,0.1);
  border: 4px solid transparent;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

/* Ao passar o mouse (para desktop) */
.opcoes li:hover {
  background-color: rgba(255,255,255,0.2);
}

/* Quando for selecionado */
.opcoes li.selecionado {
  border: 0.5rem solid #1e90ff; 
  background-color: rgba(30,144,255,0.12);
}

.verifica {
    width: 90%;
    max-width: 600px;
    padding: 1.5rem;
    font-size: 2.8rem;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    background-color: gray; /* botão desativado */
    color: white;
    opacity: 0.5;
    pointer-events: none; /* impede clique */
    transition: 0.2s;
}

/* Botão ativado */
.verifica.ativo {
    background-color: chartreuse;
    color: black;
    opacity: 1;
    pointer-events: auto;
}


/* ------------ TOAST (POP-UP) --------------- */
.toast {
    position: fixed;
    align-items: center;
    bottom: 8rem;
    right: 3rem;
    padding: 7rem 10rem;
    font-size: 5rem;
    border-radius: 20px;
    background-color: #333;
    color: white;
    opacity: 0;                      /* começa invisível */
    transform: translateY(20px);      /* desliza de baixo */
    transition: 0.3s;
}

/* Quando aparecer */
.toast.show {
    opacity: 1;
    transform: translateY(0);
}
.continuar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    padding: 1.5rem;
    border: none;
    border-radius: 12px;
    background-color: chartreuse;
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
    display: none;
}

/* Página final */

.personagens-linha {
    display: flex;
    align-items: center;        /* alinha verticalmente */
    gap: 0.2rem;                /* espaço entre eles */
    margin-top: 1rem;
}

/* Tamanhos proporcionais */
.img-doodle {
    width: 600px;
    justify-content: flex-start;
    height: auto;
    padding-left: 15rem;
}

.img-junior {
    width: 400px;
    height: auto;
    padding-left: 0rem;
}

.img-duo {
    width: 600px;
    height: auto;
    padding-right: 15rem;
}
